</main>
        
<% if (!locals.authPage) { %>
    <footer class="app-footer">
        <p>© 2025 Enhanced Todo App</p>
    </footer>
<% } %>
</div>

<script src="/js/main.js"></script>
</body>
</html>